@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

header{
  position: sticky;
  top: 0;
  background: white;
  height: 66px;
}

.left img{
  width: 50px;
  height: 25px;
}

.container{
  margin: 13px 0px;
  padding: 0 10vw;
}

nav{
  font-size: 12px;
  padding-top: 14px ;
}

nav ul li{
  list-style: none;
  padding: 0 15px;
}