.flex{
  display: flex;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.space-between{
  justify-content: space-between;
}

.uppercase{
  text-transform: uppercase;
}

 .semibold{
  font-weight: bolder;
}

.mx-2{
  margin-left: 12px;
  margin-right: 12px;
}

.section1{
  background: #f2f2f2;
  height: 122vh;
}

.Search{
  width: 50vw;
  padding: 7px 17px;
  border: 0.5px solid grey;
  background: #f7f8fd;
  border-radius: 5px;
}